.is__invalid-input {
  border-color: #e11d48;
}

.is__invalid-error {
  color: #e11d48;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}